BOT_TOKEN = "1621741600:AAGAEVPBfTlkDB6JQDSVwzdr78C3UbUhTfs"
GDRIVE_FOLDER_ID = "0APMMLOuWixIxUk9PVA"
OWNER_ID =1662454727
DOWNLOAD_DIR = "/home/James2211/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "True"
TELEGRAM_API = 3358419
TELEGRAM_HASH = "a80ff7a4167d3cc959129bacc89deae0"
USE_SERVICE_ACCOUNTS = "True"
# Optional config
AUTHORIZED_CHATS = "1283193097 820569976" #Separated by space
INDEX_URL = ""
UPTOBOX_TOKEN = ""
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
STOP_DUPLICATE_MIRROR = ""
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
